.root-add-product {
  position: relative;
}

.root-add-product > div {
  margin-bottom: 1.4375rem;
}

.root-add-product > div:last-of-type {
  margin-bottom: 0;
}

.root-add-product > figure {
  align-items: flex-end;
  display: flex;
  margin-bottom: 2.5rem;
}

.root-add-product > figure > figcaption {
  width: 11.375em;
}

.root-add-product > figure > figcaption > p {
  font-size: 0.75rem;
  line-height: 1rem;
}

.root-add-product > figure > img {
  height: 10.75rem;
  margin-right: 4.0625rem;
  width: 10.75rem;
}

.root-add-product > footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.875rem;
}

.root-add-product > footer > a {
  background-color: #fff;
  display: block;
  margin-right: 1.5rem;
  text-align: center;
  width: 11.375rem;
}

.root-add-product > footer > button {
  width: 11.375rem;
}

.root-add-product > p {
  margin-top: 1rem;
}

.error {
  color: var(--primary-color);
}

.root-add-product .upload-button > p {
  border: 1px solid var(--green-color);
  border-radius: 0.25rem;
  color: var(--green-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375rem;
  margin-bottom: 1.625rem;
  padding: 0.625rem 1.5rem;
  text-align: center;
  width: 11.375rem;
}

.root-add-product .upload-button > div > input[type="file"] {
  display: none;
}

.switch-container {
  align-items: center;
  display: flex; 
  justify-content: space-between;
}

.switch-container div {
  display: flex;
  align-items: center;
}

.switch-container > div > p {
  margin: 0 1rem;
}

.stock-container {
  align-items: center;
  display: flex; 
}

.stock-container > p {
  width: 30%;
}

.stock-container > div > input {
  width: 40%;
  padding: 1rem;
}

.stock-container > div > input.not-empty {
  padding: 1rem;
}

.diskon-container {
  align-items: center;
  display: flex; 
}

.diskon-container > p:nth-child(1) {
  width: 30%;
}

.diskon-container > p:nth-child(3) {
  margin-left: -5rem;
}

.diskon-container > div {
  width: 30%;
}

.diskon-container > div > input {
  width: 40%;
  padding: 1rem;
}

.diskon-container > div > input.not-empty {
  padding: 1rem;
}

.summary-diskon {
  border: .1rem solid #CACCCF;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

.summary-diskon > span {
  display: flex;
  justify-content: space-between;
}

.summary-diskon > span:nth-child(2) {
  font-weight: bold;
}

@media only screen and (max-width: 48em) {
  .root-add-product > div > input {
    margin-bottom: 1.25rem;
  }
}
