.root-switch {
  display: inline-block;
  position: relative;
  width: 3.25rem;
  height: 1.75rem;
  margin: 1rem 0;
}

.root-switch > p {
  font-weight: bold;
  margin-left: 1rem;
}

.root-switch input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.root-switch-slider {
  border-radius: 1.25rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.root-switch-slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: .25rem;
  bottom: .25rem;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .root-switch-slider {
  background-color: var(--green-color);
}

input:focus + .root-switch-slider {
  box-shadow: 0 0 .1rem var(--green-color);
}

input:checked + .root-switch-slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
